body {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #ddfff7;
}

.container {
    max-width: 90%;
    border: 2px solid black;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

body hr {
    border-color: black;
}

.student-info {
    text-align: center;
}

.student-info h2 {
    margin: 20px 0;
    font-weight: bold;
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
}

.student-info p {
    margin: 5px 0;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
}

.studentp-info h4,
.studentp-info p {
    display: inline; 
    margin: 0; 
}

.semester-info h4,
.semester-info p {
    display: inline; 
    margin: 0; 
}